<Request>
    <Login>
	<Username>API_USER_TEMPL</Username>
	<Password passwordform="encrypt">API_ENCR_PASS_TEMPL</Password>
    </Login>
    <Remove>
	<SecurityPolicy>
		<Name>fail2ban-HOSTNAME_TEMPL-IP_TEMPL</Name>
	</SecurityPolicy>
    </Remove>
