    <Remove>
	<IPHost>
	    <Name>HOSTNAME_TEMPL-IP_TEMPL</Name>
	    <IPFamily>IPv4</IPFamily>
	    <HostType>IP</HostType>
	    <IPAddress>IP_TEMPL</IPAddress>
	    <Subnet>255.255.255.0</Subnet>
	    <HostGroupList></HostGroupList>
	</IPHost>
    </Remove>
</Request>
